h1, h2 {
  font-size: 48px;
  text-align: center;
  font-family: arial;
  margin: 10px;
}

button {
  display: block;
  margin: auto;
}

.container {
  width: 600px;
  margin: auto;
  cursor: url(../img/palu1.png), auto;
}

.container:active {
  cursor: url(../img/palu2.png), auto;
}

.tanah {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  float: left;
}

.tanah::after {
  content: '';
  display: block;
  width: 200px;
  height: 100px;
  background: url(../img/tanah.png) bottom center no-repeat;
  background-size: 80%;
  position: absolute;
  bottom: -25px;
}

.tikus {
  width: 100%;
  height: 100%;
  background: url(../img/anjing.png) top center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 150px;
  transition: top 0.3s;
}

.tanah.muncul .tikus {
  top: 20px;
}

button.mulai {
    padding: 6px 32px;
    height: 40px;
    background: #e91e63;
    color: white;
    border: none;
    cursor: pointer;
}
